@using LocMNSApp.ViewModels;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" mb-1">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" class=" form-control " />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class=" mb-1">
                <label asp-for="Prenom"></label>
                <input asp-for="Prenom" class=" form-control " />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class=" mb-1">
                <label asp-for="Email"></label>
                <input asp-for="Email" class=" form-control " />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ComfirmPassword"></label>
                <input asp-for="ComfirmPassword" class="form-control" />
                <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8 mt-1">
                    <a asp-action="Login" class="text-decoration-none float-start mt-2">Déjà inscrit ?</a>
                </div>
                <div class="col-4 mt-2">
                    <input type="submit" value="Valider" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}