@model LocMNSApp.DTOs.MaterielDto
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Nouveau Matériel</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nom du Matériel</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="NomMateriel" />
                    <span asp-validation-for="NomMateriel" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Marque</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Marque" />
                    <span asp-validation-for="Marque" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Categorie</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Categorie">
                        <option value="Other">Other</option>
                        <option value="Informatique">Informatique</option>
                        <option value="Téléphonie">Téléphonie</option>
                        <option value="Accessoire">Accessoire</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Numéro de série</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="NumeroSerie" />
                    <span asp-validation-for="NumeroSerie" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Prix/j</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="PrixParJour" />
                    <span asp-validation-for="PrixParJour" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Etat</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Etat">
                        <option value="Autre">Autre</option>
                        <option value="Neuf">Neuf</option>
                        <option value="Bon">Bon</option>
                        <option value="Passable">Passable</option>
                        <option value="Mauvais">Mauvais</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Materiel" asp-action="Index" role="button">Effacer</a>
                </div>
            </div>
        </form>
    </div>
</div>